@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "__variables.scss";
@import "../Taskbar/_taskbar";
@import "../Window/_window";
@import "../Desktop/_desktop";
@import "../Desktop/_about";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

html {
  font-family: $font;
  color: #fff;
  background-color: #018281;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
}
